@media screen and (max-width: 800px) {
        .kar{
                
                background: black;
                background-size: cover;
                background-position: center;

        }
}